@using MatriculaCMP.Shared
@using Microsoft.AspNetCore.Components.Authorization
@inject IJSRuntime JS
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation


<button class="btn btn-danger" @onclick=Salir><i class="bi bi-escape me-2"></i> </button>

@code {
	async Task Salir()
	{
		await JS.InvokeVoidAsync("localStorage.removeItem", "Token");
		await AuthenticationStateProvider.GetAuthenticationStateAsync();
		Navigation.NavigateTo("/", true);
	}
}

